.app {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.sum {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.results {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accounts {
  max-width: 600px;
}
