.app {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}
.results {
  margin: 1rem 0;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.sum {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.results {
  display: flex;
  align-items: center;
}
